<h1 id="grab-contacts-from-email-accounts-with-php"><strong>Grab contacts from email accounts with PHP</strong></h1>

<p>This readme is for grab contacts from Google, Yahoo and Hotmail accounts using his API’s.</p>



<h2 id="setup-ssl"><strong>Setup SSL </strong></h2>

<p>For several API’s they require that’s you have a domain with the security layer enabled for making request to them. This how to is gonna cover how to setup in <strong>Ubuntu 14</strong> with <strong>LAMP</strong>.</p>



<h3 id="setup-apache">Setup Apache</h3>



<h5 id="enable-mod-ssl-to-apache"><strong>Enable mod SSL to Apache</strong></h5>

<blockquote>
  <p>sudo a2enmod ssl</p>
</blockquote>



<h5 id="restart-apache"><strong>Restart Apache</strong></h5>

<blockquote>
  <p>sudo service apache2 restart</p>
</blockquote>



<h5 id="create-ssl-directory"><strong>Create ssl directory</strong></h5>

<blockquote>
  <p>sudo mkdir /etc/apache2/ssl</p>
</blockquote>



<h5 id="place-the-new-certificate"><strong>Place the new certificate</strong></h5>

<blockquote>
  <p>sudo openssl req -x509 -nodes -days 365 -newkey rsa:2048 -keyout /etc/apache2/ssl/apache.key -out /etc/apache2/ssl/apache.crt</p>
</blockquote>

<p><em>e.g of params:</em></p>

<blockquote>
  <p>Country Name (2 letter code) [AU]:US <br>
   State or Province Name (full name) [Some-State]:New York <br>
              Locality Name (eg, city) []:New York City <br>
              Organization Name (eg, company) [Internet Widgits Pty Ltd]:Your Company <br>
              Organizational Unit Name (eg, section) []:Department of Kittens <br>
              Common Name (e.g. server FQDN or YOUR name) []:your_domain.com <br>
              Email Address []:your_email@domain.com</p>
</blockquote>



<h5 id="create-a-new-virtualhost"><strong>Create a new virtualhost</strong></h5>

<p>You must create the directory <strong>ssltest</strong> in your html folder</p>

<blockquote>
  <p>sudo mkdir /var/www/html/ssltest</p>
</blockquote>

<p>Add the virtualhost pointing that folder</p>

<blockquote>
  <p>sudo vim /etc/apache2/sites-available/default-ssl.conf</p>
</blockquote>



<pre class="prettyprint"><code class=" hljs apache"><span class="hljs-tag">&lt;IfModule mod_ssl.c&gt;</span>
    <span class="hljs-tag">&lt;VirtualHost _default_:443&gt;</span>
        <span class="hljs-keyword">ServerAdmin</span> admin@ssltest.com
        <span class="hljs-keyword"><span class="hljs-common">ServerName</span></span> ssltest.com
        <span class="hljs-keyword">ServerAlias</span> www.ssltest.com
        <span class="hljs-keyword"><span class="hljs-common">DocumentRoot</span></span> /var/www/html/ssltest
        <span class="hljs-keyword">ErrorLog</span> <span class="hljs-cbracket">${APACHE_LOG_DIR}</span>/error.log
        <span class="hljs-keyword">CustomLog</span> <span class="hljs-cbracket">${APACHE_LOG_DIR}</span>/access.log combined
        <span class="hljs-keyword">SSLEngine</span> <span class="hljs-literal">on</span>
        <span class="hljs-keyword">SSLCertificateFile</span> /etc/apache2/ssl/apache.crt
        <span class="hljs-keyword">SSLCertificateKeyFile</span> /etc/apache2/ssl/apache.key
        <span class="hljs-tag">&lt;FilesMatch "\.(cgi|shtml|phtml|php)$"&gt;</span>
                        <span class="hljs-keyword">SSLOptions</span> +StdEnvVars
        <span class="hljs-tag">&lt;/FilesMatch&gt;</span>
        <span class="hljs-tag">&lt;Directory /usr/lib/cgi-bin&gt;</span>
                        <span class="hljs-keyword">SSLOptions</span> +StdEnvVars
        <span class="hljs-tag">&lt;/Directory&gt;</span>
        <span class="hljs-keyword">BrowserMatch</span> <span class="hljs-string">"MSIE [2-6]"</span> \
                        <span class="hljs-keyword">nokeepalive</span> ssl-unclean-shutdown \
                        <span class="hljs-keyword">downgrade</span>-1.0 force-response-1.0
        <span class="hljs-keyword">BrowserMatch</span> <span class="hljs-string">"MSIE [17-9]"</span> ssl-unclean-shutdown
    <span class="hljs-tag">&lt;/VirtualHost&gt;</span>
<span class="hljs-tag">&lt;/IfModule&gt;</span></code></pre>



<h5 id="activate-the-virtualhost"><strong>Activate the virtualhost</strong></h5>

<blockquote>
  <p>sudo a2ensite default-ssl.conf</p>
</blockquote>



<h5 id="restart-apache-1"><strong>Restart Apache</strong></h5>

<blockquote>
  <p>sudo service apache2 restart</p>
</blockquote>



<h3 id="setup-dns">Setup DNS</h3>

<p>You need to add your local ip to the <strong>/etc/hosts</strong> file</p>

<blockquote>
  <p>127.0.0.1      www.ssltest.com</p>
</blockquote>



<h2 id="google-gmail">Google GMail</h2>

<p>Go to the developer center <a href="https://console.developers.google.com">https://console.developers.google.com</a> and create a new application called <strong>retrieve-contacts</strong>, with this configuration:</p>

<blockquote>
  <p>Redirect url: <a href="http://www.ssltest.com/google-api-php-client/examples/contacts.php">http://www.ssltest.com/google-api-php-client/examples/contacts.php</a></p>
</blockquote>

<p>Also you need to keep the Client ID and Client Secret generated from Google.</p>

<blockquote>
  <p><strong>Contacts Rest API documentation <a href="https://developers.google.com/google-apps/contacts/v3/reference">https://developers.google.com/google-apps/contacts/v3/reference</a></strong></p>
</blockquote>



<h3 id="creating-the-example">Creating the example</h3>



<h4 id="get-the-php-library">Get the PHP library</h4>

<p>For google we need to clone the git project  <a href="https://github.com/google/google-api-php-client">https://github.com/google/google-api-php-client</a> inside the <strong>ssltest folder</strong>.</p>

<blockquote>
  <p>git clone <a href="https://github.com/google/google-api-php-client.git">https://github.com/google/google-api-php-client.git</a> .</p>
</blockquote>

<p>and install with composer.</p>

<blockquote>
  <p>composer install</p>
</blockquote>



<h4 id="create-the-example">Create the example</h4>

<p>Now you need to create the file <strong>contacts.php</strong> inside <strong>ssltest/google-api-php-client/examples/</strong> folder.</p>



<pre class="prettyprint"><code class=" hljs xml"><span class="php"><span class="hljs-preprocessor">&lt;?php</span>

<span class="hljs-keyword">include_once</span> <span class="hljs-string">"templates/base.php"</span>;
session_start();

<span class="hljs-keyword">require_once</span> realpath(dirname(<span class="hljs-keyword">__FILE__</span>) . <span class="hljs-string">'/../src/Google/autoload.php'</span>);

<span class="hljs-variable">$client_id</span> = <span class="hljs-string">'{CLIENT_ID}'</span>;
<span class="hljs-variable">$client_secret</span> = <span class="hljs-string">'{CLIENT_SECRET}'</span>;
<span class="hljs-variable">$redirect_uri</span> = <span class="hljs-string">'https://www.ssltest.com/google/google-api-php-client/examples/contacts.php'</span>;

<span class="hljs-variable">$client</span> = <span class="hljs-keyword">new</span> Google_Client();
<span class="hljs-variable">$client</span>-&gt;setClientId(<span class="hljs-variable">$client_id</span>);
<span class="hljs-variable">$client</span>-&gt;setClientSecret(<span class="hljs-variable">$client_secret</span>);
<span class="hljs-variable">$client</span>-&gt;setRedirectUri(<span class="hljs-variable">$redirect_uri</span>);
<span class="hljs-comment">//$client-&gt;addScope("https://www.google.com/m8/feeds/contacts/default/full");</span>
<span class="hljs-variable">$client</span>-&gt;addScope(<span class="hljs-string">"https://www.google.com/m8/feeds/"</span>);

<span class="hljs-keyword">if</span> (<span class="hljs-keyword">isset</span>(<span class="hljs-variable">$_REQUEST</span>[<span class="hljs-string">'logout'</span>]))
{
    <span class="hljs-keyword">unset</span>(<span class="hljs-variable">$_SESSION</span>[<span class="hljs-string">'access_token'</span>]);
}

<span class="hljs-keyword">if</span> (<span class="hljs-keyword">isset</span>(<span class="hljs-variable">$_GET</span>[<span class="hljs-string">'code'</span>])) {
    <span class="hljs-variable">$client</span>-&gt;authenticate(<span class="hljs-variable">$_GET</span>[<span class="hljs-string">'code'</span>]);
    <span class="hljs-variable">$_SESSION</span>[<span class="hljs-string">'access_token'</span>] = <span class="hljs-variable">$client</span>-&gt;getAccessToken();
    <span class="hljs-variable">$redirect</span> = <span class="hljs-string">'https://'</span> . <span class="hljs-variable">$_SERVER</span>[<span class="hljs-string">'HTTP_HOST'</span>] . <span class="hljs-variable">$_SERVER</span>[<span class="hljs-string">'PHP_SELF'</span>];
    header(<span class="hljs-string">'Location: '</span> . filter_var(<span class="hljs-variable">$redirect</span>, FILTER_SANITIZE_URL));
}

<span class="hljs-keyword">if</span> (<span class="hljs-keyword">isset</span>(<span class="hljs-variable">$_SESSION</span>[<span class="hljs-string">'access_token'</span>]) &amp;&amp; <span class="hljs-variable">$_SESSION</span>[<span class="hljs-string">'access_token'</span>])
{
    <span class="hljs-variable">$client</span>-&gt;setAccessToken(<span class="hljs-variable">$_SESSION</span>[<span class="hljs-string">'access_token'</span>]);
}
<span class="hljs-keyword">else</span>
{
    <span class="hljs-variable">$authUrl</span> = <span class="hljs-variable">$client</span>-&gt;createAuthUrl();
}

<span class="hljs-keyword">if</span> (<span class="hljs-variable">$client</span>-&gt;getAccessToken())
{
    <span class="hljs-variable">$req</span>  = <span class="hljs-keyword">new</span> Google_Http_Request(<span class="hljs-string">"https://www.google.com/m8/feeds/contacts/default/full?max-results=1000"</span>);
    <span class="hljs-variable">$val</span> = <span class="hljs-variable">$client</span>-&gt;getAuth()-&gt;authenticatedRequest(<span class="hljs-variable">$req</span>);
    <span class="hljs-variable">$xml</span>=  <span class="hljs-keyword">new</span> SimpleXMLElement(<span class="hljs-variable">$val</span>-&gt;getResponseBody());
    <span class="hljs-variable">$xml</span>-&gt;registerXPathNamespace(<span class="hljs-string">'gd'</span>, <span class="hljs-string">'http://schemas.google.com/g/2005'</span>);

    <span class="hljs-variable">$result</span> = <span class="hljs-variable">$xml</span>-&gt;xpath(<span class="hljs-string">'//gd:email'</span>);

    <span class="hljs-variable">$count</span> = <span class="hljs-number">0</span>;
    <span class="hljs-keyword">foreach</span> (<span class="hljs-variable">$result</span> <span class="hljs-keyword">as</span> <span class="hljs-variable">$title</span>)
    {
      <span class="hljs-variable">$count</span>++;
      <span class="hljs-keyword">echo</span> <span class="hljs-variable">$count</span>.<span class="hljs-string">". "</span>.<span class="hljs-variable">$title</span>-&gt;attributes()-&gt;address . <span class="hljs-string">"&lt;br&gt;"</span>;

    }
}
<span class="hljs-preprocessor">?&gt;</span></span>
<span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"box"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"request"</span>&gt;</span>
<span class="php"><span class="hljs-preprocessor">&lt;?php</span> 
<span class="hljs-keyword">if</span> (<span class="hljs-keyword">isset</span>(<span class="hljs-variable">$authUrl</span>)) {
  <span class="hljs-keyword">echo</span> <span class="hljs-string">"&lt;a class='login' href='"</span> . <span class="hljs-variable">$authUrl</span> . <span class="hljs-string">"'&gt;Connect Me!&lt;/a&gt;"</span>;
} <span class="hljs-keyword">else</span> {
  <span class="hljs-keyword">echo</span> <span class="hljs-string">&lt;&lt;&lt;END
    &lt;a class='logout' href='?logout'&gt;Logout&lt;/a&gt;
END;</span>
}
<span class="hljs-preprocessor">?&gt;</span></span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span></code></pre>



<h4 id="try-it">Try it!</h4>

<p>Just go to <a href="https://www.ssltest.com/google-api-php-client/examples/contacts.php">https://www.ssltest.com/google-api-php-client/examples/contacts.php</a> and test the login and retrieve all the contact list : ) .</p>



<h2 id="yahoo-mail">Yahoo Mail</h2>

<p>Go to the developer center <a href="https://developer.apps.yahoo.com/projects">https://developer.apps.yahoo.com/projects</a> and create a new application called <strong>retrieve-contacts</strong>.</p>

<p><strong>Note:</strong> You must activate the <strong>Contacts API</strong> permission</p>

<p>Also you need to keep the Consumer Key and Consumer Secret generated from Yahoo.</p>



<h3 id="creating-the-example-1">Creating the example</h3>



<h4 id="get-the-php-library-1">Get the PHP library</h4>

<p>For Yahoo we need to clone the git project  <a href="https://github.com/yahoo/yos-social-php">https://github.com/yahoo/yos-social-php</a> and copy de <strong>lib</strong> folder inside <strong>ssltest/yahoo</strong> folder.</p>



<h4 id="create-the-example-1">Create the example</h4>

<p>Now you need to create the file <strong>contacts.php</strong> inside <strong>ssltest/yahoo/</strong> folder.</p>



<pre class="prettyprint"><code class=" hljs xml"><span class="php"><span class="hljs-function"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params">&lt;?php
// Include the YOS library.
require dirname<span class="hljs-params">(__FILE__)</span>.<span class="hljs-string">'/lib/Yahoo.inc'</span>;

//for converting xml to array
function XmltoArray<span class="hljs-params">(<span class="hljs-variable">$xml</span>)</span>
{
    <span class="hljs-variable">$array</span> = json_decode<span class="hljs-params">(json_encode<span class="hljs-params">(<span class="hljs-variable">$xml</span>)</span>, TRUE)</span>;
    foreach <span class="hljs-params">(array_slice<span class="hljs-params">(<span class="hljs-variable">$array</span>, <span class="hljs-number">0</span>)</span> as <span class="hljs-variable">$key</span> =&gt; <span class="hljs-variable">$value</span> )</span>
    {
        if <span class="hljs-params">(empty<span class="hljs-params">(<span class="hljs-variable">$value</span>)</span> )</span>{
            <span class="hljs-variable">$array</span>[<span class="hljs-variable">$key</span>] = NULL;
        }
        elseif <span class="hljs-params">(is_array<span class="hljs-params">(<span class="hljs-variable">$value</span>)</span> )</span>{
            <span class="hljs-variable">$array</span>[<span class="hljs-variable">$key</span>] = XmltoArray<span class="hljs-params">(<span class="hljs-variable">$value</span>)</span>;
        }
    }

    return <span class="hljs-variable">$array</span>;
}

// debug settings
//error_reporting<span class="hljs-params">(E_ALL | E_NOTICE)</span>; # do not show notices as library is php4 compatable
//ini_set<span class="hljs-params">(<span class="hljs-string">'display_errors'</span>, true)</span>;
YahooLogger::setDebug<span class="hljs-params">(true)</span>;
YahooLogger::setDebugDestination<span class="hljs-params">(<span class="hljs-string">'LOG'</span>)</span>;

// use memcache to store oauth credentials via php native sessions
//ini_set<span class="hljs-params">(<span class="hljs-string">'session.save_handler'</span>, <span class="hljs-string">'files'</span>)</span>;
//session_save_path<span class="hljs-params">(<span class="hljs-string">'/tmp/'</span>)</span>;
session_start<span class="hljs-params">()</span>;

// Make sure you obtain application keys before continuing by visiting:
// https://developer.yahoo.com/dashboard/createKey.html

define<span class="hljs-params">(<span class="hljs-string">'OAUTH_CONSUMER_KEY'</span>, <span class="hljs-string">'{CONSUMER_KEY}'</span>)</span>;
define<span class="hljs-params">(<span class="hljs-string">'OAUTH_CONSUMER_SECRET'</span>, <span class="hljs-string">'{CONSUMER_SECRET}'</span>)</span>;
define<span class="hljs-params">(<span class="hljs-string">'OAUTH_DOMAIN'</span>, <span class="hljs-string">'ssltest.com'</span>)</span>;
define<span class="hljs-params">(<span class="hljs-string">'OAUTH_APP_ID'</span>, <span class="hljs-string">'{APP_ID}'</span>)</span>;

if <span class="hljs-params">(array_key_exists<span class="hljs-params">(<span class="hljs-string">"logout"</span>, <span class="hljs-variable">$_GET</span>)</span>)</span>
{
    // if a session exists and the logout flag is detected
    // clear the session tokens and reload the page.
    YahooSession::clearSession<span class="hljs-params">()</span>;
    header<span class="hljs-params">(<span class="hljs-string">"Location: index.php"</span>)</span>;
}

// check for the existance of a session.
// this will determine if we need to show a pop-up and fetch the auth url,
// or fetch the user<span class="hljs-string">'s social data.
$hasSession = YahooSession::hasSession(OAUTH_CONSUMER_KEY, OAUTH_CONSUMER_SECRET, OAUTH_APP_ID);

if ($hasSession === false)
{
    // create the callback url,
    $callback = YahooUtil::current_url();
    $sessionStore = new NativeSessionStore();
    // pass the credentials to get an auth url.
    // this URL will be used for the pop-up.
    $auth_url = YahooSession::createAuthorizationUrl(OAUTH_CONSUMER_KEY, OAUTH_CONSUMER_SECRET, $callback, $sessionStore);
}
else
{
    // pass the credentials to initiate a session
    $session = YahooSession::requireSession(OAUTH_CONSUMER_KEY, OAUTH_CONSUMER_SECRET, OAUTH_APP_ID);
    // if a session is initialized, fetch the user'</span>s profile information
    if <span class="hljs-params">(<span class="hljs-variable">$session</span>)</span>
    {
        // Get the currently sessioned user.
        <span class="hljs-variable">$user</span> = <span class="hljs-variable">$session</span>-&gt;getSessionedUser<span class="hljs-params">()</span>;

        // Load the profile for the current user.
        <span class="hljs-variable">$profile</span> = <span class="hljs-variable">$user</span>-&gt;getProfile<span class="hljs-params">()</span>;
        <span class="hljs-variable">$profile_contacts</span>=XmltoArray<span class="hljs-params">(<span class="hljs-variable">$user</span>-&gt;getContactSync<span class="hljs-params">()</span>)</span>;
        <span class="hljs-variable">$contacts</span>=array<span class="hljs-params">()</span>;
        foreach <span class="hljs-params">(<span class="hljs-variable">$profile_contacts</span>[<span class="hljs-string">'contactsync'</span>][<span class="hljs-string">'contacts'</span>] as <span class="hljs-variable">$key</span>=&gt;<span class="hljs-variable">$profileContact</span>)</span>
        {
           foreach <span class="hljs-params">(<span class="hljs-variable">$profileContact</span>[<span class="hljs-string">'fields'</span>] as <span class="hljs-variable">$contact</span>)</span>
           {
              <span class="hljs-variable">$contacts</span>[<span class="hljs-variable">$key</span>][<span class="hljs-variable">$contact</span>[<span class="hljs-string">'type'</span>]]=<span class="hljs-variable">$contact</span>[<span class="hljs-string">'value'</span>];
           }
        }
    }
}

function close_popup<span class="hljs-params">()</span> {
?&gt;</span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span>
<span class="hljs-tag">&lt;<span class="hljs-title">script</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"text/javascript"</span>&gt;</span><span class="javascript">
  window.close();
</span><span class="hljs-tag">&lt;/<span class="hljs-title">script</span>&gt;</span>
<span class="php"><span class="hljs-function"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params">&lt;?php
}
?&gt;</span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span>
<span class="hljs-doctype">&lt;!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">html</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">head</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">title</span>&gt;</span>Get the contact list from Yahoo-Idiot Minds<span class="hljs-tag">&lt;/<span class="hljs-title">title</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">style</span> <span class="hljs-attribute">type</span>=<span class="hljs-value">"text/css"</span>&gt;</span><span class="css">
<span class="hljs-tag">body</span><span class="hljs-rules">{
<span class="hljs-rule"><span class="hljs-attribute">background-color</span>:<span class="hljs-value"> <span class="hljs-hexcolor">#F2F2F2</span></span></span>;
<span class="hljs-rule">}</span></span>
<span class="hljs-class">.yh_frnds</span><span class="hljs-rules">{
    <span class="hljs-rule"><span class="hljs-attribute">list-style</span>:<span class="hljs-value">none</span></span>;
<span class="hljs-rule">}</span></span>
<span class="hljs-class">.yh_frnds</span> <span class="hljs-tag">li</span><span class="hljs-rules">{
    <span class="hljs-rule"><span class="hljs-attribute">padding</span>:<span class="hljs-value"><span class="hljs-number">10</span>px</span></span>;
    <span class="hljs-rule"><span class="hljs-attribute">float</span>:<span class="hljs-value">left</span></span>;
    <span class="hljs-rule"><span class="hljs-attribute">width</span>:<span class="hljs-value"><span class="hljs-number">30</span>%</span></span>;
<span class="hljs-rule">}</span></span>
<span class="hljs-class">.frnd_list</span><span class="hljs-rules">{
    <span class="hljs-rule"><span class="hljs-attribute">margin-top</span>:<span class="hljs-value">-<span class="hljs-number">25</span>px</span></span>;
    <span class="hljs-rule"><span class="hljs-attribute">margin-left</span>:<span class="hljs-value"><span class="hljs-number">40</span>px</span></span>;
<span class="hljs-rule">}</span></span>
<span class="hljs-class">.fb_frnds</span> <span class="hljs-tag">a</span><span class="hljs-rules">{
        <span class="hljs-rule"><span class="hljs-attribute">text-decoration</span>:<span class="hljs-value">none</span></span>;
         <span class="hljs-rule"><span class="hljs-attribute">background</span>:<span class="hljs-value"> <span class="hljs-hexcolor">#333</span></span></span>;
         <span class="hljs-rule"><span class="hljs-attribute">filter</span>:<span class="hljs-value"> progid:DXImageTransform.Microsoft.<span class="hljs-function">gradient(startColorstr=<span class="hljs-string">'#333'</span>, endColorstr=<span class="hljs-string">'#D95858'</span>)</span></span></span>; <span class="hljs-comment">/* for IE */</span>
<span class="hljs-rule"><span class="hljs-attribute">background</span>:<span class="hljs-value"> <span class="hljs-function">-webkit-gradient(linear, left top, left bottom, <span class="hljs-function">from(#<span class="hljs-number">333</span>)</span>, <span class="hljs-function">to(#D95858)</span>)</span></span></span>; <span class="hljs-comment">/* for webkit browsers */</span>
<span class="hljs-rule"><span class="hljs-attribute">background</span>:<span class="hljs-value"> <span class="hljs-function">-moz-linear-gradient(top,  #<span class="hljs-number">333</span>,  #D95858)</span><span class="hljs-comment">/* for firefox 3.6+ */</span> </span></span>;
    <span class="hljs-rule"><span class="hljs-attribute">color</span>:<span class="hljs-value"> <span class="hljs-hexcolor">#FFFFFF</span></span></span>;
        <span class="hljs-rule"><span class="hljs-attribute">float</span>:<span class="hljs-value"> right</span></span>;
        <span class="hljs-rule"><span class="hljs-attribute">font</span>:<span class="hljs-value"> bold <span class="hljs-number">13</span>px arial</span></span>;
        <span class="hljs-rule"><span class="hljs-attribute">margin-right</span>:<span class="hljs-value"><span class="hljs-number">110</span>px </span></span>;
<span class="hljs-rule">}</span></span>
</span><span class="hljs-tag">&lt;/<span class="hljs-title">style</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">head</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">body</span>&gt;</span>
    <span class="php"><span class="hljs-function"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params">&lt;?php
        if <span class="hljs-params">(<span class="hljs-variable">$hasSession</span> === false)</span>
        {
    ?&gt;</span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span>
            <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"&lt;?php echo $auth_url; ?&gt;"</span>&gt;</span>LOG IN<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
<span class="php"><span class="hljs-function"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params">&lt;?php   }
        else if <span class="hljs-params">(<span class="hljs-variable">$hasSession</span> &amp;&amp; <span class="hljs-variable">$profile</span>)</span>
        {
?&gt;</span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span>
            <span class="hljs-tag">&lt;<span class="hljs-title">img</span> <span class="hljs-attribute">src</span>=<span class="hljs-value">"&lt;?php echo $profile-&gt;image-&gt;imageUrl; ?&gt;"</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">"width:10%;"</span> /&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">h2</span>&gt;</span>Hi <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"&lt;?php echo $profile-&gt;profileUrl; ?&gt;"</span> <span class="hljs-attribute">target</span>=<span class="hljs-value">"_blank"</span>&gt;</span><span class="php"><span class="hljs-function"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params">&lt;?php echo <span class="hljs-variable">$profile</span>-&gt;nickname; ?&gt;</span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span><span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
            <span class="hljs-tag">&lt;/<span class="hljs-title">h2</span>&gt;</span>

<span class="php"><span class="hljs-function"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params">&lt;?php
            if <span class="hljs-params">(<span class="hljs-variable">$profile</span>-&gt;status-&gt;message != <span class="hljs-string">""</span>)</span>
            {
                <span class="hljs-variable">$statusDate</span> = date<span class="hljs-params">(<span class="hljs-string">'F j, y, g:i a'</span>, strtotime<span class="hljs-params">(<span class="hljs-variable">$profile</span>-&gt;status-&gt;lastStatusModified)</span>)</span>;
                echo sprintf<span class="hljs-params">(<span class="hljs-string">"&lt;p&gt;&lt;strong&gt;&amp;#8220;&lt;/strong&gt;%s&lt;strong&gt;&amp;#8221;&lt;/strong&gt; on %s&lt;/p&gt;"</span>, <span class="hljs-variable">$profile</span>-&gt;status-&gt;message, <span class="hljs-variable">$statusDate</span>)</span>;
            }

                echo <span class="hljs-string">"&lt;p&gt;&lt;a href=\"?logout\"&gt;Logout&lt;/a&gt;&lt;/p&gt;"</span>; ?&gt;</span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span>

            <span class="hljs-tag">&lt;<span class="hljs-title">ul</span>  <span class="hljs-attribute">class</span>=<span class="hljs-value">"yh_frnds"</span>&gt;</span>
        <span class="php"><span class="hljs-function"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params">&lt;?php
            foreach <span class="hljs-params">(<span class="hljs-variable">$contacts</span> as <span class="hljs-variable">$user_friend</span>)</span>
            {

                if<span class="hljs-params">(isset<span class="hljs-params">(<span class="hljs-variable">$user_friend</span>[<span class="hljs-string">'email'</span>])</span>)</span>
                {
        ?&gt;</span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span>
                    <span class="hljs-tag">&lt;<span class="hljs-title">li</span> &gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">img</span> <span class="hljs-attribute">src</span>=<span class="hljs-value">"yahoo1.png"</span> <span class="hljs-attribute">width</span>=<span class="hljs-value">"30"</span> <span class="hljs-attribute">height</span>=<span class="hljs-value">"30"</span>/&gt;</span>
                        <span class="hljs-tag">&lt;<span class="hljs-title">div</span>  <span class="hljs-attribute">class</span>=<span class="hljs-value">"frnd_list"</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-title">strong</span>&gt;</span><span class="php"><span class="hljs-function"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params">&lt;?php echo <span class="hljs-variable">$user_friend</span>[<span class="hljs-string">'name'</span>][<span class="hljs-string">'givenName'</span>]; ?&gt;</span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span>
                            <span class="hljs-tag">&lt;/<span class="hljs-title">strong</span>&gt;</span><span class="hljs-tag">&lt;<span class="hljs-title">br</span> /&gt;</span><span class="php"><span class="hljs-function"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params">&lt;?php echo <span class="hljs-variable">$user_friend</span>[<span class="hljs-string">'email'</span>];?&gt;</span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span>
                        <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
                    <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>

<span class="php"><span class="hljs-function"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params">&lt;?php           }
            }
?&gt;</span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span>
<span class="hljs-tag">&lt;/<span class="hljs-title">ul</span>&gt;</span>
 <span class="php"><span class="hljs-function"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params">&lt;?php  } ?&gt;</span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">body</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">html</span>&gt;</span>
</code></pre>

<h4 id="try-it-1">Try it!</h4>

<p>Just go to <a href="https://www.ssltest.com/yahoo/contacts.php">https://www.ssltest.com/yahoo/contacts.php</a> and test the login and retrieve all the contact list : ) .</p>



<h2 id="hotmail">Hotmail</h2>

<p>Go to the developer center <a href="https://account.live.com/developers/applications/index">https://account.live.com/developers/applications/index</a> and create a new application called <strong>retrieve-contacts</strong>, with this configuration:</p>

<blockquote>
  <p>Redirect url: <a href="https://www.ssltest.com/hotmail/result.php">https://www.ssltest.com/hotmail/result.php</a></p>
</blockquote>

<p>Also you need to keep the Client ID and Client Secret generated from Google.</p>

<blockquote>
  <p><strong>This is the Rest API documentation <a href="https://msdn.microsoft.com/en-us/library/hh826543.aspx#rest">https://msdn.microsoft.com/en-us/library/hh826543.aspx#rest</a></strong></p>
</blockquote>



<h3 id="creating-the-example-2">Creating the example</h3>



<h4 id="configphp">config.php</h4>



<pre class="prettyprint"><code class=" hljs php"><span class="hljs-preprocessor">&lt;?php</span>
<span class="hljs-variable">$client_id</span> = <span class="hljs-string">'{CLIENT_ID}'</span>;
<span class="hljs-variable">$client_secret</span> = <span class="hljs-string">'{CLIENT_SECRET}'</span>;
<span class="hljs-variable">$redirect_uri</span> = <span class="hljs-string">'https://www.ssltest.com/hotmail/result.php'</span>;
<span class="hljs-preprocessor">?&gt;</span></code></pre>



<h4 id="indexphp">index.php</h4>



<pre class="prettyprint"><code class=" hljs xml"><span class="php"><span class="hljs-function"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params">&lt;?php
    include<span class="hljs-params">(<span class="hljs-string">'config.php'</span>)</span>;
    <span class="hljs-variable">$url</span> = <span class="hljs-string">'https://login.live.com/oauth20_authorize.srf?client_id='</span>.<span class="hljs-variable">$client_id</span>.<span class="hljs-string">'&amp;scope=wl.signin%20wl.basic%20wl.emails%20wl.contacts_emails&amp;response_type=code&amp;redirect_uri='</span>.<span class="hljs-variable">$redirect_uri</span>;
?&gt;</span></span></span></span></span></span></span></span></span>

<span class="hljs-tag">&lt;<span class="hljs-title">html</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">head</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">meta</span> <span class="hljs-attribute">http-equiv</span>=<span class="hljs-value">"Content-Type"</span> <span class="hljs-attribute">content</span>=<span class="hljs-value">"text/html; charset=windows-1252"</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">title</span>&gt;</span>Invite Friends<span class="hljs-tag">&lt;/<span class="hljs-title">title</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">head</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-title">body</span> <span class="hljs-attribute">link</span>=<span class="hljs-value">"#0C6182"</span> <span class="hljs-attribute">vlink</span>=<span class="hljs-value">"#0C6182"</span> <span class="hljs-attribute">alink</span>=<span class="hljs-value">"#0C6182"</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"&lt;?php print $url; ?&gt;"</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">"text-decoration: none"</span>&gt;</span>
Invite Friends From Hotmail<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">br</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">body</span>&gt;</span>

<span class="hljs-tag">&lt;/<span class="hljs-title">html</span>&gt;</span></code></pre>



<h4 id="resultphp">result.php</h4>



<pre class="prettyprint"><code class=" hljs xml"><span class="php"><span class="hljs-function"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params">&lt;?php 

session_start<span class="hljs-params">()</span>;

function curl_file_get_contents<span class="hljs-params">(<span class="hljs-variable">$url</span>)</span> {
    <span class="hljs-variable">$ch</span> = curl_init<span class="hljs-params">()</span>;
    curl_setopt<span class="hljs-params">(<span class="hljs-variable">$ch</span>, CURLOPT_AUTOREFERER, TRUE)</span>;
    curl_setopt<span class="hljs-params">(<span class="hljs-variable">$ch</span>, CURLOPT_HEADER, <span class="hljs-number">0</span>)</span>;
    curl_setopt<span class="hljs-params">(<span class="hljs-variable">$ch</span>, CURLOPT_RETURNTRANSFER, <span class="hljs-number">1</span>)</span>;
    curl_setopt<span class="hljs-params">(<span class="hljs-variable">$ch</span>, CURLOPT_URL, <span class="hljs-variable">$url</span>)</span>;
    curl_setopt<span class="hljs-params">(<span class="hljs-variable">$ch</span>, CURLOPT_FOLLOWLOCATION, TRUE)</span>;
    <span class="hljs-variable">$data</span> = curl_exec<span class="hljs-params">(<span class="hljs-variable">$ch</span>)</span>;
    curl_close<span class="hljs-params">(<span class="hljs-variable">$ch</span>)</span>;
    return <span class="hljs-variable">$data</span>;
}

?&gt;</span></span></span></span></span></span></span></span></span>
<span class="hljs-tag">&lt;<span class="hljs-title">html</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">head</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">meta</span> <span class="hljs-attribute">http-equiv</span>=<span class="hljs-value">"Content-Type"</span> <span class="hljs-attribute">content</span>=<span class="hljs-value">"text/html; charset=windows-1252"</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">title</span>&gt;</span>Invite Friends<span class="hljs-tag">&lt;/<span class="hljs-title">title</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">head</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-title">body</span> <span class="hljs-attribute">link</span>=<span class="hljs-value">"#0C6182"</span> <span class="hljs-attribute">vlink</span>=<span class="hljs-value">"#0C6182"</span> <span class="hljs-attribute">alink</span>=<span class="hljs-value">"#0C6182"</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">align</span>=<span class="hljs-value">"center"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">table</span> <span class="hljs-attribute">border</span>=<span class="hljs-value">"0"</span> <span class="hljs-attribute">width</span>=<span class="hljs-value">"80%"</span> <span class="hljs-attribute">cellspacing</span>=<span class="hljs-value">"0"</span> <span class="hljs-attribute">cellpadding</span>=<span class="hljs-value">"0"</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">"border: 1px solid #0C6182; padding: 0"</span>&gt;</span>

        <span class="hljs-tag">&lt;<span class="hljs-title">tr</span>&gt;</span>
            <span class="hljs-tag">&lt;<span class="hljs-title">td</span> <span class="hljs-attribute">align</span>=<span class="hljs-value">"left"</span> <span class="hljs-attribute">style</span>=<span class="hljs-value">"padding:20px; font-family: Trebuchet MS; font-size: 12pt; line-height:110%"</span> <span class="hljs-attribute">valign</span>=<span class="hljs-value">"top"</span>&gt;</span>
<span class="php"><span class="hljs-function"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params"><span class="hljs-params">&lt;?php
//setting parameters

include<span class="hljs-params">(<span class="hljs-string">'config.php'</span>)</span>;

<span class="hljs-variable">$auth_code</span> = <span class="hljs-variable">$_GET</span>[<span class="hljs-string">"code"</span>];
<span class="hljs-variable">$fields</span>=array<span class="hljs-params">(
    <span class="hljs-string">'code'</span>=&gt;  urlencode<span class="hljs-params">(<span class="hljs-variable">$auth_code</span>)</span>,
    <span class="hljs-string">'client_id'</span>=&gt;  urlencode<span class="hljs-params">(<span class="hljs-variable">$client_id</span>)</span>,
    <span class="hljs-string">'client_secret'</span>=&gt;  urlencode<span class="hljs-params">(<span class="hljs-variable">$client_secret</span>)</span>,
    <span class="hljs-string">'redirect_uri'</span>=&gt;  urlencode<span class="hljs-params">(<span class="hljs-variable">$redirect_uri</span>)</span>,
    <span class="hljs-string">'grant_type'</span>=&gt;  urlencode<span class="hljs-params">(<span class="hljs-string">'authorization_code'</span>)</span>
)</span>;

<span class="hljs-variable">$post</span> = <span class="hljs-string">''</span>;
foreach<span class="hljs-params">(<span class="hljs-variable">$fields</span> as <span class="hljs-variable">$key</span>=&gt;<span class="hljs-variable">$value</span>)</span>
{
    <span class="hljs-variable">$post</span> .= <span class="hljs-variable">$key</span>.<span class="hljs-string">'='</span>.<span class="hljs-variable">$value</span>.<span class="hljs-string">'&amp;'</span>;
}

<span class="hljs-variable">$post</span> = rtrim<span class="hljs-params">(<span class="hljs-variable">$post</span>,<span class="hljs-string">'&amp;'</span>)</span>;
<span class="hljs-variable">$curl</span> = curl_init<span class="hljs-params">()</span>;
curl_setopt<span class="hljs-params">(<span class="hljs-variable">$curl</span>,CURLOPT_URL,<span class="hljs-string">'https://login.live.com/oauth20_token.srf'</span>)</span>;
curl_setopt<span class="hljs-params">(<span class="hljs-variable">$curl</span>,CURLOPT_POST,<span class="hljs-number">5</span>)</span>;
curl_setopt<span class="hljs-params">(<span class="hljs-variable">$curl</span>,CURLOPT_POSTFIELDS,<span class="hljs-variable">$post</span>)</span>;
curl_setopt<span class="hljs-params">(<span class="hljs-variable">$curl</span>, CURLOPT_RETURNTRANSFER,TRUE)</span>;
curl_setopt<span class="hljs-params">(<span class="hljs-variable">$curl</span>, CURLOPT_SSL_VERIFYPEER,<span class="hljs-number">0</span>)</span>;
<span class="hljs-variable">$result</span> = curl_exec<span class="hljs-params">(<span class="hljs-variable">$curl</span>)</span>;
curl_close<span class="hljs-params">(<span class="hljs-variable">$curl</span>)</span>;
<span class="hljs-variable">$response</span> =  json_decode<span class="hljs-params">(<span class="hljs-variable">$result</span>)</span>;
<span class="hljs-variable">$accesstoken</span> = <span class="hljs-variable">$response</span>-&gt;access_token;

<span class="hljs-variable">$url</span> = <span class="hljs-string">'https://apis.live.net/v5.0/me/contacts?access_token='</span>.<span class="hljs-variable">$accesstoken</span>;
<span class="hljs-variable">$xmlresponse</span> =  curl_file_get_contents<span class="hljs-params">(<span class="hljs-variable">$url</span>)</span>;
<span class="hljs-variable">$xml</span> = json_decode<span class="hljs-params">(<span class="hljs-variable">$xmlresponse</span>, true)</span>;
<span class="hljs-variable">$contacts_email</span> = <span class="hljs-string">""</span>;

<span class="hljs-variable">$count</span> = <span class="hljs-number">0</span>;
foreach <span class="hljs-params">(<span class="hljs-variable">$xml</span>[<span class="hljs-string">'data'</span>] as <span class="hljs-variable">$title</span>)</span> {
    <span class="hljs-variable">$count</span>++;
    echo <span class="hljs-variable">$count</span>.<span class="hljs-string">". "</span>.<span class="hljs-variable">$title</span>[<span class="hljs-string">'emails'</span>][<span class="hljs-string">'personal'</span>] . <span class="hljs-string">"&lt;br&gt;&lt;br&gt;"</span>;
}

?&gt;</span></span></span></span></span></span></span></span></span>

&amp;nbsp;<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
        <span class="hljs-tag">&lt;/<span class="hljs-title">tr</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">table</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">body</span>&gt;</span></code></pre>